<p>calendario works!</p>
<div >
 
    <h1>Calendário Angular</h1>
  
  </div>
  
  <body>
      
    <div id="container">
      <div id="header">
        <div>{{ dataAtual | date}}</div>
        <div>{{ dateDisplay}}</div>
        <div>
          <button id="backButton" (click)="backMonth()">Back</button>
          <button id="nextButton" (click)="nextMonth()">Next</button>
        </div>
      </div>
  
      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>
  
      <div id="calendar" >
        <div *ngFor="let day of daysArr" class="day" >
  
          {{day.value === 'padding' ? '' : day.value}}
          <button  *ngIf="day.value  != 'padding'"
          [routerLink]="['/calendario', day.date]" 
          (click)=" openModal()"
          >Reservar</button>
        </div>
      </div>
    </div>
  
  
  
    <ng-container *ngIf="showModal" >
      <app-modal-reservar-hora 
      (mandarFecharModal)="onFecharModal($event)"
      ></app-modal-reservar-hora>
    </ng-container>
  
  
  
  
  
    <script src="./script.js"></script>
  </body>