<body>

  <div id="container">
    <div id="header">
      <h1>{{ dateDisplay | titlecase}}</h1>
      <div>
        <button class="btn btn-lg btn-secondary fw-bold border-white " (click)="backMonth()">Voltar</button>
        <button class="btn btn-lg btn-secondary fw-bold border-white " (click)="nextMonth()">Próximo</button>
      </div>
    </div>


  
      <div id="calendar-content" class="calendar-cells">

        <div id="table-header">
          <div class="row">
            <div class="col">Dom</div>
            <div class="col">Seg</div>
            <div class="col">Ter</div>
            <div class="col">Qua</div>
            <div class="col">Qui</div>
            <div class="col">Sex</div>
            <div class="col">Sab</div>
          </div>
        </div>

        <!-- <div #calendarTable  > -->
          <!-- <div [innerHTML]="colRow "></div> -->
          <!-- {{tableRow}} -->
     
        <div #hello class="table-body"></div>
        <!-- </div> -->

      </div>

<!-- 
    <div id="calendar" >
        <div *ngFor="let day of daysArr" class="day" >
  
          {{day.value === 'padding' ? '' : day.value}}
          <button  

          [disabled]="day.value < getDay"
          *ngIf="day.value  != 'padding'"
          [routerLink]="['/calendario', day.date]" 
          (click)=" openModal()"
             id="reserva"


          class="btn btn-sm btn-secondary fw-bold border-white " 
          >Reservar</button>
        </div>
      </div> -->
  </div>
  <ng-container *ngIf="showModal">
    <app-modal-reservar-hora (mandarFecharModal)="onFecharModal($event)"></app-modal-reservar-hora>
  </ng-container>
  <script src="./script.js"></script>
</body>