<div >
 
  <h1>Calendário Angular</h1>

</div>

<body>
    
  <div id="container">
    <div id="header">
      <div id="monthDisplay"></div>
      <div>
        <button id="backButton">Back</button>
        <button id="nextButton">Next</button>
      </div>
    </div>

    <div id="weekdays">
      <div>Sunday</div>
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
    </div>

    <div id="calendar" >
      <div *ngFor="let day of daysArr" class="day" (click)="openModal()">

        {{day.value === 'padding' ? '' : day.value}}
      </div>
    </div>
  </div>



  <ng-container *ngIf="showModal">
    <div class="modal">
      <div id="newEventModal">
        <h2>New Event</h2>
    
        <input id="eventTitleInput" placeholder="Event Title" />
    
        <button id="saveButton" (click)="closeModal()">Save</button>
        <button id="cancelButton" (click)="closeModal()">Cancel</button>
      </div>
    <button *ngFor="let hour of hourdays" (click)="reserveHour()">
        {{hour}}
    </button>

    </div>
  </ng-container>





  <script src="./script.js"></script>
</body>

<router-outlet></router-outlet>
