<div id="newEventModal">

  <h2>Reserva para o dia: {{diaReserva | date: 'dd/MM/yyyy'}}</h2>


  <!-- [disabled]="horarioReservado" -->

  <form [formGroup]="form">
    <h5>Horários</h5>
    <div *ngFor="let hour of hourdays">
      <div >
        <input type="radio" class="form-check-input" name="horario" id="option1" value="06:00 - 07:00"
          formControlName="horario">
        <label class="form-check-label" for="option1">{{hour}}</label>
      </div>

    </div>
  </form>

  <div style="display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    ">
    <button (click)="closeModal()" id="reserva" class="btn btn-sm btn-secondary fw-bold border-white">Cancelar</button>
    <button (click)="saveTime()" id="reserva" class="btn btn-sm btn-secondary fw-bold border-white">Reservar</button>
    <!-- [disabled]="!form.valid" -->
  </div>





</div>




<div id="modalBackDrop"></div>