
<div id="newEventModal">

    <h2>Reserva para o dia: {{diaReserva  | date: 'dd/MM/yyyy'}}</h2>



                <form [formGroup]="form"  >
                  <h5>Horários</h5>
                  <div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="food" id="option1" value="06:00 - 07:00" formControlName="food">
                      <label class="form-check-label" for="option1">06:00 - 07:00</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="food" id="option2" value="07:00 - 08:00" formControlName="food">
                      <label class="form-check-label" for="option2">07:00 - 08:00</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="food" id="option3" class="form-check-input" value="08:00 - 09:00" formControlName="food">
                      <label class="form-check-label" for="option3">08:00 - 09:00</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="food" id="option4" class="form-check-input" value="18:00 - 19:00" formControlName="food">
                      <label class="form-check-label" for="option4">18:00 - 19:00</label>
                    </div>
                  </div>
                </form>
         

              <div style="display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    "
    >
        <button  
        (click)="closeModal()"
        id="reserva"
        class="btn btn-sm btn-secondary fw-bold border-white "
        
        >Cancelar</button>
        <button  (click)="saveTime()"
        id="reserva"
        class="btn btn-sm btn-secondary fw-bold border-white "
        >Reservar</button>
    </div>
    
      



</div>




<div id="modalBackDrop"></div>